@font-face {
  font-family: betterYouSmile;
  src: url("./static/fonts/better\ you\ smile.otf");
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.863);
  color: whitesmoke;
  font-family: betterYouSmile;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

i {
  color: white;
  font-size: 8px;
}

/* .title:hover {
  content: '';
  height: 50px;
  width: 20px;
  position: relative;
  background: red;
} */

/* NavBar */
/* .header {
  position: fixed;
  height: 3rem;
  width: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.404);
  z-index: 10;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5em;
  text-decoration: none;
}
.header a {
  color: black;
}
.nav-link {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1em;
}

.nav-link a {
  color: black;
  margin: 0 20px;
} */

.navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.918);
  z-index: 9999;
}

.navbar a:nth-child(1) {
  float: left;
  font-size: 2em;
}

.navbar a:nth-child(4) {
  float: right;
}

.navbar a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2em;
}

.navbar a:hover {
  background-color: rgba(221, 221, 221, 0.192);
  color: white;
}

.navbar a.active {
  color: white;
}

.navbar .icon {
  display: none;
}

/* Content */

.content-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, orange, red, violet);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  border-bottom-right-radius: 150px;
}

.intro-myself {
  text-align: center;
  font-size: 18px;
  color: black;
}
.intro-myself i{
  font-size: 16px;
}
/* About */

.about {
  max-width: 1000px;
  margin: 0.5rem 1rem;
  padding: 0.5rem 0.5rem;
  height: max-content;
}

.about section {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
}

/* Projects */

.projects {
  position: relative;
  margin: 2rem 2rem 1rem 1rem;
  padding: 0.5rem 0.5rem;
  height: max-content;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-container {
  margin: 10px 10px;
  max-width: 800px;
  width: 100%;
}

#project {
  margin: 5px 0;
  font-size: 1.5em;
  height: max-content;
  width: 100%;
  padding: 10px 5px 10px 5px;
}

#project i {
  font-size: 16px;
}


#project:hover {
  box-shadow: 2px 2px 6px 7px grey;
}

#project:nth-child(even) {
  border-radius: 10px;
  text-align: left;
  padding-left: 15px;
}


#project:nth-child(odd) {
  border-radius: 10px;
  text-align: right;
  padding-right: 15px;
}

/* .project-container:nth-child(2) {
  float: right;
  width: 70%;
  border-color: indianred;
} */

#project:hover {
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.404);
}

/* Contact */

.contact {
  max-width: 1000px;
  margin: 0.5rem 1rem;
  padding: 1rem 0.5rem;
  height: max-content;
}

.contact address {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact address a {
  font-size: 2em;
  color: rgb(255, 255, 255);
  padding: 3px;
  margin: 0 5px;
}

.contact address a:hover {
  background: transparent;
  border-radius: 20%;
  -moz-box-shadow: 1px 2px 5px 6px grey;
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 1px 2px 5px 6px grey;
}

/* Footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2rem;
  margin-top: 15px;
  background: rgba(0, 0, 0, 0.438);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  text-align: center;
}
footer a {
  display: none;
}

/* media queries */

@media screen and (max-width: 768px) {
  .header h2 {
    font-size: 28px;
  }

  .nav-link {
    display: none;
  }

  .content-container .intro {
    font-size: 2.5em;
  }
}

/* Responsive navbar */
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
    color: whitesmoke;
  }

  .footer {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: absolute;
    background: rgba(245, 245, 245, 0);
    z-index: 20000000;
    color: whitesmoke;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    background: rgba(0, 0, 0, 0.705);
    text-align: left;
  }
  .navbar.responsive a:hover {
    background: rgba(0, 117, 133, 0.411);
  }
}
