@font-face {
  font-family: betterYouSmile;
  src: url("./static/fonts/better\ you\ smile.otf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.863);
  color: whitesmoke;
  font-family: betterYouSmile;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

i {
  color: white;
  font-size: 8px;
}
.navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.918);
  z-index: 9999;
}

.navbar a:nth-child(1) {
  float: left;
  font-size: 2em;
}

.navbar a:nth-child(4) {
  float: right;
}

.navbar a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2em;
}

.navbar a:hover {
  background-color: rgba(221, 221, 221, 0.192);
  color: white;
}

.navbar a.active {
  color: white;
}

.navbar .icon {
  display: none;
}

/* Content */

.content-container {
  top: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

.intro {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, orange, red, violet);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  border-bottom-right-radius: 150px;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.intro-myself {
  text-align: center;
  font-size: 18px;
  color: black;
}

.intro-myself i {
  font-size: 28px;
}


/* About */

.title {
  position: relative;
  left: 20px;
  float: left;
  cursor: pointer;
}

.title::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 8px;
  left: -15px;
  background: orange;
  top: 10px;
  transition-property: width;
  transition-duration: 0.2s;
}
.title:hover::after {
  width: 15px;
}

.title-exp {
  border-bottom: orange solid 2px;
}

.about {
  max-width: 1000px;
  margin: 1rem 1rem;
  padding: 0.5rem 0.5rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  background: rgba(245, 245, 245, 0.055);
  border-radius: 0 25px 0 25px;
  border-color: rgba(245, 245, 245, 0.062);
  box-shadow: 1px 3px 6px 8px rgba(245, 245, 245, 0.062);
}

.about section {
  margin: 10px 10px;
  max-width: 800px;
  font-size: 1.5em;
  text-align: justify;
}

/* Projects */

.projects {
  position: relative;
  margin: 2rem 2rem 1rem 1rem;
  padding: 0.5rem 0.5rem;
  height: max-content;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.project-container {
  margin: 10px 10px;
  max-width: 800px;
  width: 100%;
}

#project {
  margin: 5px 0;
  font-size: 1.5em;
  height: max-content;
  width: 100%;
  padding: 10px 5px 10px 5px;
}


#project i {
  font-size: 24px;
}

#project:hover {
  box-shadow: 2px 2px 6px 7px grey;
}

#project:nth-child(even) {
  border-radius: 10px;
  text-align: left;
  padding-left: 15px;
}

#project:nth-child(odd) {
  border-radius: 10px;
  text-align: right;
  padding-right: 15px;
}

/* .project-container:nth-child(2) {
  float: right;
  width: 70%;
  border-color: indianred;
} */

#project:hover {
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.404);
}

/* Contact */

.contact {
  max-width: 1000px;
  margin: 0.5rem 1rem;
  padding: 1rem 0.5rem;
  height: max-content;
}
.contact h1 {
  border-bottom: orange solid 2px;
}

.contact address {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact address a {
  font-size: 2em;
  color: rgb(255, 255, 255);
  padding: 3px;
  margin: 0 5px;
  transition: 0.4s;
}

.contact address a:hover {
  background: transparent;
  border-radius: 20%;
  transform: rotateZ(45deg);
}

/* Footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2rem;
  margin-top: 15px;
  background: rgba(0, 0, 0, 0.438);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  text-align: center;
}
footer a {
  display: none;
}

/* media queries */

@media screen and (max-width: 768px) {
  .intro {
    height: 100vh;
  }
  .intro h1 {
    font-size: 48px;
  }
  .header h2 {
    font-size: 28px;
  }

  .nav-link {
    display: none;
  }

  .content-container .intro {
    font-size: 2.5em;
  }
}

/* Responsive navbar */
@media screen and (max-width: 600px) {
  .navbar {
    position: relative;
  }

  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
    color: whitesmoke;
  }
  .intro {
    height: 92vh;
  }

  .intro h1 {
    font-size: 48px;
  }

  .about section{
    font-size: 1.2em;
  }

  #project{
    font-size: 1.2em;
  }

  .footer {
    font-size: 12px;
    text-align: center;
  }
  .contact h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: absolute;
    background: rgba(245, 245, 245, 0);
    z-index: 20000000;
    color: whitesmoke;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    background: rgba(0, 0, 0, 0.705);
    text-align: left;
  }
  .navbar.responsive a:hover {
    background: rgba(0, 117, 133, 0.411);
  }
}
